<%= form_with(model: @fgroup, local: true) do |form| %>
  <% if fgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fgroup.errors.count, "error") %> prohibited this fgroup from being saved:</h2>

      <ul>
      <% fgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

