<%= form_with(model: fgroup, local: true) do |form| %>
  
    <% @friends.each do |friend| %>
          <tr>
          <% if friend.request_id != current_model.id %>
          <td><%= friend.request.username %>   <%= form.check_box :paid %></td>
           
          <% end %>
          <% if friend.reciver_id != current_model.id %>
          <td><%= friend.reciver.username %><%= form.check_box :paid %></td>
          <% end %>
          </tr>
        <% end %>
  
  <div class="actions">
    <%= form.submit :Invite %>
  </div>
<% end %>

<script type="text/javascript">

function notify(e) {
        event.preventDefault();
        var els = document.querySelectorAll('.chks input[type="checkbox"]:checked');
        for (var i = 0; i < els.length; i++) {
            var id = els[i].id;
            console.log(id)
            els[i].checked = false;
            $.ajax({
                async: false,
                cache: false,
                url: "/addrequest",
                type: 'GET',
                data: {
                    uniq_param: (new Date()).getTime(),
                    id: id
                },
                success: function(data) {
                    console.log("sent to ", id);

                },
                failure: function(data) {
                    console.log("FAIL");
                    console.log(data);
                }
            });

        }
    }

    </script>