<p id="notice"><%= notice %></p>

<p class="boy">
  <strong>Group Name : </strong>
  <%= @fgroup.name %>
</p>
<p class="boy">
<%= link_to 'Back', fgroups_path %> |
<%= link_to 'Edit', edit_fgroup_path(@fgroup) %> 
</p>

<%= render 'invite', fgroup: @fgroup ,friends: @friends , friendsActivity: @friendsActivity , friendInvite: @friendInvite%>


<style>
  .boy{
    text-align: center;
    font-size: 25px;
    color: #F3BF61 ;
  }
</style>