

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/plug-ins/3cfcc339e89/integration/bootstrap/3/dataTables.bootstrap.css">

<p id="notice"><%= notice %></p>

<h1>Friends</h1>


<table id="example" class="table display" style="width:80%">
<thead>
<tr>
  <th colspan="2"></th>
</tr>
</thead>
        <tbody>
        <% @friends.each do |friend| %>
          <tr>
          <% if friend.request_id != current_model.id %>
          <td><%= friend.request.username %></td>
          <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
          <% if friend.reciver_id != current_model.id %>
          <td><%= friend.reciver.username %></td>
          <td><%= link_to 'Destroy', friend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
            
          </tr>
        <% end %>
           
        </tbody>
        <tfoot>
        <tr>
        <th colspan="2"></th>
      </tr>
        </tfoot>
    </table>

<br>

<%= link_to 'New Friend', new_friend_path %>
<style>
.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
</style>
<script>
$(document).ready(function() {
    $('#example').DataTable();
} );
</script>