<link rel="stylesheet" href="/order-friends.css">
<p id="notice"><%= notice %></p>
<h1>Forders</h1>

<table>
  <thead>
    <tr>
      <th>Meal</th>
      <th>Resturant</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forders.each do |forder| %>
      <tr>
        <td><%= forder.meal %></td>
        <td><%= forder.resturant %></td>
        <td><%= forder.image %></td>
        <td><%= link_to 'Show', forder %></td>
        <td><%= link_to 'Edit', edit_forder_path(forder) %></td>
        <td><%= link_to 'Destroy', forder, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Add friends</button>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="Add friends" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="display: block;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                 <h4 class="modal-title" id="myModalLabel" style="color: grey;">Add People</h4>

            </div>
          <%= form_tag(add_friends_path) do %>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" style="margin-right: 10px;"><a href="#friendsTab" aria-controls="friendsTab" role="tab" data-toggle="tab">Friends</a>

                        </li>
                        <li role="presentation"><a href="#groupsTab" aria-controls="groupsTab" role="tab" data-toggle="tab">Groups</a>

                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="friendsTab">
                          <div class="row">
                            <% @friends.each do |friend| %>
                              <div class="col-6">
                              <label>
                              <%= check_box_tag 'friends_ids[]', friend.id %>
                              
                                <div class="card hover-shadow">
                                  <div class="card-body text-center pt-1 pb-20">
                                    <a class="friend-card" href="#">
                                      <img class="avatar friend-card" src="https://bootdey.com/img/Content/avatar/avatar2.png">
                                    </a>
                                    <h5 class="mt-2 mb-0 friend-card"><a class="hover-primary" href="#"><%= friend.username %></a></h5>
                                    <span>Designer</span>
                                    <div class="mt-20">
                                      <span class="badge badge-default">Photoshop</span>
                                      <span class="badge badge-default">Illustrator</span>
                                      <span class="badge badge-default">Animation</span>
                                    </div>
                                  </div>

                                  <footer class="card-footer flexbox">
                                    
                                    <div>
                                      <i class="fa fa-map-marker pr-1"></i>
                                      <span>Blackwood, NJ</span>
                                    </div>
                                    <div>
                                      <i class="fa fa-money pr-1"></i>
                                      <span>$55 / hour</span>
                                    </div>
                                    
                                  </footer>
                                </div>
                                </label>
                              </div>
                            <% end %>
                          </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="groupsTab">Groups Tab</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <%= submit_tag 'Send', :class => "btn btn-primary save" %>
            </div>
          <% end %>
        </div>
    </div>
</div>
<%= link_to 'New Forder', new_forder_path %>
