<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<!--Custom styles-->
<link rel="stylesheet" href="/login.css">


<div class="container">
	<div class="d-flex justify-content-center h-100">
		<div class="card h-auto">
			<div class="card-header">
				<h3>Sign In</h3>
				<div class="d-flex justify-content-end social_icon">
          <%= link_to '/auth/google_oauth2' do %>
             <span><i class='fab fa-google-plus-square'></i></span>
            <% end %>
				</div>
			</div>
			<div class="card-body">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		          <%= render "devise/shared/error_messages", resource: resource %>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-at"></i></span>
						</div>
            <%= f.email_field :email, autofocus: true, placeholder: "Enter Your E-mail", autocomplete: "email" ,id: "email", class: "form-control"  %>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
            <%= f.password_field :password, placeholder: "Enter Your Password",autocomplete: "current-password", class: "form-control" %>
					</div>
					<% if devise_mapping.rememberable? %>
            <div class="row align-items-center remember">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
         
					<div class="form-group">
            <%= f.submit "Log in", class: "btn float-right login_btn" %>
					</div>
				<% end %>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Don't have an account?<a href="/models/sign_up">Sign Up</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="/models/password/new">Forgot your password?</a></br>
				</div>
			</div>
		</div>
	</div>
</div>
