<!DOCTYPE html>
<html>
  <head>
    <title>Order</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">
    


  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
      <a class="navbar-brand" href="index.html"><span class="flaticon-pizza-1 mr-1"></span>Pizza<br><small>Delicous</small></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span> Menu
      </button>
    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="menu.html" class="nav-link">Menu</a></li>
        <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
        <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
        <li class="nav-item dropdown mr-4">
        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown"
            id="notificationDropdown" href="#" data-toggle="dropdown" onclick="zero()">
            <span class="notification" id="number"><%= current_model.notifcations.select{|notifcation| notifcation.watch==false}.count=%></span>
            <i class="mdi mdi-bell mx-0" id="bell">

            </i>
        </a>

        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
            aria-labelledby="notificationDropdown" id="maxy"
            style="overflow-y: auto; max-height: 480px;">
            <p class="mb-0 font-weight-normal float-left dropdown-header" id='notificationHeader'>
               Notifications
            </p>

            <% current_model.notifcations.order(updated_at: :desc).each do |notifcation| %>
              <% if notifcation.seen == false %>
            <a class="dropdown-item" style="background-color: #E9EBEE;  border-bottom: 1px solid #dadada;"
                href="<%= notifcation.link =%>" id="max<%= notifcation.link =%>" value="<%= notifcation.id =%>">
                <div class="item-thumbnail">
                    <div class="item-icon <%= notifcation.color =%>">
                        <i class="<%= notifcation.icon =%> mx-0"></i>
                    </div>
                </div>
                <div class="item-content">
                    <h6 class="font-weight-normal">
                       
                    <%= notifcation.title =%>
                        
                    </h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                    <%= notifcation.text =%>
                    </p>
                    <p class="font-weight-light small-text mb-0 text-muted" style="font-size:0.8em;">
                    <%= notifcation.updated_at =%>
                    </p>

                </div>
            </a>
           <% else %>
            <a class="dropdown-item card-body" style="border-bottom: 1px solid #dadada;"
                href="<%= notifcation.link =%>" id="max<%= notifcation.id =%>" value="<%= notifcation.id =%>">
                <div class="item-thumbnail">
                    <div class="item-icon <%= notifcation.color =%>">
                        <i class="<%= notifcation.icon =%> mx-0"></i>
                    </div>
                </div>
                <div class="item-content">
                    <h6 class="font-weight-normal">
                       
                    <%= notifcation.title =%>
                    </h6>
                    <p class="font-weight-light small-text mb-0 text-muted">
                      
                    <%= notifcation.text =%>
                        
                    </p>
                    <p class='font-weight-light small-text mb-0 text-muted' style='font-size:0.8em;'>
                    <%= notifcation.updated_at =%>
                    </p>
                </div>
            </a>
           <% end %>
           <% end %>

            <% if current_model.notifcations.count == 0 %>
            
            <a class="dropdown-item" id='no-notification'
                style="background-color: #E9EBEE;  border-bottom: 1px solid #dadada;">
                <div class="item-content">
                    <h6 class="font-weight-normal" style="margin-top: 0.5rem;">
                        No Notification Yet
                    </h6>
                </div>
            </a>
            <% end %>
        </div>
    </li>








      </ul>
      <ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
  
  </ul>
    </div>
  </div>
</nav>
<!-- END nav -->

    <%= yield %>
    <footer class="ftco-footer ftco-section img">
    	<div class="overlay"></div>
      <div class="container">
        <div class="row mb-5">
          <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">About Us</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-5 mb-md-5">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Recent Blog</h2>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="/images/image_1.jpg"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
              <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="/images/image_2.jpg"></a>
                <div class="text">
                  <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about</a></h3>
                  <div class="meta">
                    <div><a href="#"><span class="icon-calendar"></span> Sept 15, 2018</a></div>
                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
             <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Services</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-2 d-block">Cooked</a></li>
                <li><a href="#" class="py-2 d-block">Deliver</a></li>
                <li><a href="#" class="py-2 d-block">Quality Foods</a></li>
                <li><a href="#" class="py-2 d-block">Mixed</a></li>
              </ul>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>



  <!-- loader 
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  -->


  <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
  <script type="text/javascript" data-id="<%= current_model.id =%>" id='toPushID' >
      function zero() {
          var bell = document.getElementById('number');
          var text = bell.innerHTML;
  
          if(text != 0){
              bell.style.display = 'none';
              bell.innerHTML = 0;
  
                  $.ajax({
                      type: 'GET',
                      url: '/watchNotification',
                      data:{},
                      success: function (response) {
                      },
                      error: function(error){
                          console.log(error);
                      }
                  });
          }
  
      }
  
      // Enable pusher logging - don't include this in production
      // Pusher.logToConsole = true;
  
      var pusher = new Pusher('fdc7948d55ef0e9cbfc4', {
          cluster: "eu",
          encrypted: true,
      });
  
      var user = $('#toPushID').data('id');
  
      // Subscribe to the channel we specified in our Rails Event
      var channel = pusher.subscribe('action' + user);
  
      // Bind a function to a Event (the full Rails class)
      channel.bind('my-event', function (data) {
          var currentDate = new Date();
  
          var date = currentDate.getDate();
          var month = currentDate.getMonth(); //Be careful! January is 0 not 1
          var year = currentDate.getFullYear();
          var hour = currentDate.getHours();
          var mintues = currentDate.getMinutes(); 
          var seconds = currentDate.getSeconds();
          var dateString = year + "-" + (month + 1) + "-" + date + " " + hour + ":" + mintues + ":" + seconds;
          var ul = document.getElementById("maxy");
          var li = document.createElement('div');
          li.className = 'item-content';
  
          var des = document.getElementById('number');
          des.removeAttribute("hidden");
          des.style.display = 'block';
          var not = parseInt(document.getElementById('number').innerHTML);
          des.innerHTML = not + 1;
  
  
          var a = document.createElement('a');
          a.setAttribute("style", "background-color: #e0e2e8;");
          a.setAttribute("id", "max" + data.d);
  
          a.setAttribute("href", data.page);
  
          a.setAttribute("value", data.d);
          a.className = 'dropdown-item';
          var p = document.createElement('p');
          var p2 = document.createElement('p');
  
          p.className = 'font-weight-light small-text mb-0 text-muted';
          p2.className = 'font-weight-light small-text mb-0 text-muted';
          p2.setAttribute("style", "font-size:0.8em;");
  
          var h = document.createElement('h6');
          h.className = 'font-weight-normal';
  
          var thum = document.createElement('div');
          thum.className = 'item-thumbnail';
  
          var item = document.createElement('div');
          item.className = 'item-icon '+data.color;
  
          var i = document.createElement('i');
          i.className = data.icon +' mx-0';
  
          item.appendChild(i);
          thum.appendChild(item);
          
              p.appendChild(document.createTextNode(data.message));
          
          p2.innerHTML = dateString;
          
              h.appendChild(document.createTextNode(data.title));
          
          li.appendChild(h);
          li.appendChild(p);
          li.appendChild(p2);
          a.appendChild(thum);
          a.appendChild(li);
          console.log(a)
          var notificationHeader = document.getElementById("notificationHeader");
          notificationHeader.parentNode.insertBefore(a, notificationHeader.nextSibling);
  
          var noNotification = document.getElementById("no-notification");
          if(noNotification != null){
              noNotification.remove();
          }
  
          $('#max'+ data.d).on('click', function () {
              $value = $(this).attr('value');
              $.ajax({
                  type: 'get',
                  url: '/updateseen',
                  data: {
                      'seen': $value
                  },
                  success: function (data) {
                      $('nav').html(data);
                      console.log(data)
                  }
              });
          });
  
      });
  </script>
  
  <script type="text/javascript">
      $(function () {
          $('a[id^="max"]').on('click', function () {
              $value = $(this).attr('value');
              $.ajax({
                  url: '/updateseen',
                  type: 'get',
                  data: {
                      'seen': $value
                  },
                  success: function (data) {
                      $('nav').html(data);
                  }
              });
          });
      });
  
  </script>
  

  </body>
</html>
