<!DOCTYPE html>
<html>

<head>
    <title>Otlobly</title>
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1161/1161623.svg">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/css/tables.css">
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/5.0.45/css/materialdesignicons.min.css">



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/"><span class="flaticon-pizza-1 mr-1"></span>ITI<br><small>Otlobly</small></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><%= link_to 'Groups', fgroups_path,class: "nav-link" %></li>
                    <li class="nav-item"><%= link_to 'Friends', friends_path,class: "nav-link"  %></li>
                    <li class="nav-item"><%= link_to 'Orders', forders_path,class: "nav-link"  %></li>


                    <li class="nav-item dropdown mr-4">
                        <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center notification-dropdown" id="notificationDropdown" href="#" data-toggle="dropdown" onclick="zero()">
                            <span class="notification" id="number"><%= current_model.notifcations.select{|notifcation| notifcation.watch==false}.count=%></span>
                            <i class="mdi mdi-bell mx-0" id="bell">

                            </i>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="notificationDropdown" id="maxy" style="overflow-y: auto; max-height: 480px;">
                            <p class="mb-0 font-weight-normal float-left dropdown-header" id='notificationHeader'>
                                Notifications
                            </p>

                            <% current_model.notifcations.order(updated_at: :desc).each do |notifcation| %>
                            <% if notifcation.seen == false %>
                            <a class="dropdown-item" style="background-color: #E9EBEE;  border-bottom: 1px solid #dadada;" href="<%= notifcation.link =%>" id="max<%= notifcation.link =%>" value="<%= notifcation.id =%>">
                                <div class="item-thumbnail">
                                    <div class="item-icon <%= notifcation.color =%>">
                                        <i class="<%= notifcation.icon =%> mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">

                                        <%= notifcation.title =%>

                                    </h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        <%= notifcation.text =%>
                                    </p>
                                    <p class="font-weight-light small-text mb-0 text-muted" style="font-size:0.8em;">
                                        <%= notifcation.updated_at =%>
                                    </p>

                                </div>
                            </a>
                            <% else %>
                            <a class="dropdown-item card-body" style="border-bottom: 1px solid #dadada;" href="<%= notifcation.link =%>" id="max<%= notifcation.id =%>" value="<%= notifcation.id =%>">
                                <div class="item-thumbnail">
                                    <div class="item-icon <%= notifcation.color =%>">
                                        <i class="<%= notifcation.icon =%> mx-0"></i>
                                    </div>
                                </div>
                                <div class="item-content">
                                    <h6 class="font-weight-normal">

                                        <%= notifcation.title =%>
                                    </h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">

                                        <%= notifcation.text =%>

                                    </p>
                                    <p class='font-weight-light small-text mb-0 text-muted' style='font-size:0.8em;'>
                                        <%= notifcation.updated_at =%>
                                    </p>
                                </div>
                            </a>
                            <% end %>
                            <% end %>

                            <% if current_model.notifcations.count == 0 %>

                            <a class="dropdown-item" id='no-notification' style="background-color: #E9EBEE;  border-bottom: 1px solid #dadada;">
                                <div class="item-content">
                                    <h6 class="font-weight-normal" style="margin-top: 0.5rem;">
                                        No Notification Yet
                                    </h6>
                                </div>
                            </a>
                            <% end %>
                        </div>
                    </li>
               
                    <li class="nav-item"><a href="/models/edit" class="nav-link">Edit Profile</a></li>
                    <li class="nav-item"><%= render 'devise/menu/login_items' %></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->
    <div style="justify-content: center; align-items: center;">
      <%= yield %>
     </div>
    
    <footer class="ftco-footer ftco-section img">
        <div class="overlay"></div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">About Us</h2>
                        <p>Otlobly is a website where you can organize big orders with friends and coworkers easily</p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                            <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Services</h2>
                        <ul class="list-unstyled">
                            <li><a href="/" class="py-2 d-block">Home</a></li>
                            <li><a href="/forders" class="py-2 d-block">Orders</a></li>
                            <li><a href="/friends" class="py-2 d-block">Friends</a></li>
                            <li><a href="/fgroups" class="py-2 d-block">Groups</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">Who are we</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://github.com/MohamedAbouserei" class="py-2 d-block">Mohamed Abo-serei</a></li>
                            <li><a href="https://github.com/eslamkarim" class="py-2 d-block">Eslam Karim</a></li>
                            <li><a href="https://github.com/kareemelkasaby1" class="py-2 d-block">Karim El-Kasaby</a></li>
                            <li><a href="https://github.com/MohamedAtef11" class="py-2 d-block">Mohamed Atef</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 mb-5 mb-md-5">
                    <div class="ftco-footer-widget mb-4 ml-md-4">
                        <h2 class="ftco-heading-2">OpenSource</h2>
                        <ul class="list-unstyled">
                           <a href="https://github.com/MohamedAbouserei/Order_by_rails"><i id="social-fb" class="fa fa-github-square fa-3x social"></i></a>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 text-center">

                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | This website is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">ITI students</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <!-- loader 
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
  -->


    <script src="https://js.pusher.com/5.1/pusher.min.js"></script>
    <script type="text/javascript" data-id="<%= current_model.id =%>" id='toPushID'>
        function zero() {
            var bell = document.getElementById('number');
            var text = bell.innerHTML;

            if (text != 0) {
                bell.style.display = 'none';
                bell.innerHTML = 0;

                $.ajax({
                    type: 'GET',
                    url: '/watchNotification',
                    data: {},
                    success: function(response) {},
                    error: function(error) {
                        console.log(error);
                    }
                });
            }

        }

        // Enable pusher logging - don't include this in production
        // Pusher.logToConsole = true;

        var pusher = new Pusher('66eb02be5e260d3af3c8', {
            cluster: "eu",
            encrypted: true,
        });

        var user = $('#toPushID').data('id');

        // Subscribe to the channel we specified in our Rails Event
        var channel = pusher.subscribe('action' + user);

        // Bind a function to a Event (the full Rails class)
        channel.bind('my-event', function(data) {
            var currentDate = new Date();

            var date = currentDate.getDate();
            var month = currentDate.getMonth(); //Be careful! January is 0 not 1
            var year = currentDate.getFullYear();
            var hour = currentDate.getHours();
            var mintues = currentDate.getMinutes();
            var seconds = currentDate.getSeconds();
            var dateString = year + "-" + (month + 1) + "-" + date + " " + hour + ":" + mintues + ":" + seconds;
            var ul = document.getElementById("maxy");
            var li = document.createElement('div');
            li.className = 'item-content';

            var des = document.getElementById('number');
            des.removeAttribute("hidden");
            des.style.display = 'block';
            var not = parseInt(document.getElementById('number').innerHTML);
            des.innerHTML = not + 1;


            var a = document.createElement('a');
            a.setAttribute("style", "background-color: #e0e2e8;");
            a.setAttribute("id", "max" + data.d);

            a.setAttribute("href", data.page);

            a.setAttribute("value", data.d);
            a.className = 'dropdown-item';
            var p = document.createElement('p');
            var p2 = document.createElement('p');

            p.className = 'font-weight-light small-text mb-0 text-muted';
            p2.className = 'font-weight-light small-text mb-0 text-muted';
            p2.setAttribute("style", "font-size:0.8em;");

            var h = document.createElement('h6');
            h.className = 'font-weight-normal';

            var thum = document.createElement('div');
            thum.className = 'item-thumbnail';

            var item = document.createElement('div');
            item.className = 'item-icon ' + data.color;

            var i = document.createElement('i');
            i.className = data.icon + ' mx-0';

            item.appendChild(i);
            thum.appendChild(item);

            p.appendChild(document.createTextNode(data.message));

            p2.innerHTML = dateString;

            h.appendChild(document.createTextNode(data.title));

            li.appendChild(h);
            li.appendChild(p);
            li.appendChild(p2);
            a.appendChild(thum);
            a.appendChild(li);
            console.log(a)
            var notificationHeader = document.getElementById("notificationHeader");
            notificationHeader.parentNode.insertBefore(a, notificationHeader.nextSibling);

            var noNotification = document.getElementById("no-notification");
            if (noNotification != null) {
                noNotification.remove();
            }

            $('#max' + data.d).on('click', function() {
                $value = $(this).attr('value');
                $.ajax({
                    type: 'get',
                    url: '/updateseen',
                    data: {
                        'seen': $value
                    },
                    success: function(data) {
                        $('nav').html(data);
                        console.log(data)
                    }
                });
            });

        });
        
    </script>

    <script type="text/javascript">
        $(function() {
            $('a[id^="max"]').on('click', function() {
                $value = $(this).attr('value');
                $.ajax({
                    url: '/updateseen',
                    type: 'get',
                    data: {
                        'seen': $value
                    },
                    success: function(data) {
                        $('nav').html(data);
                    }
                });
            });
        });
        
    </script>


</body>

</html>